In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/workspaces/Proyecto_nocountry/data/raw/HDHI Admission data.csv')
df

,SNO,MRD No.,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
1,2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,...,0,0,0,0,0,0,0,0,0,0
2,3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
3,4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,...,0,0,0,0,0,0,0,0,0,0
4,5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,...,0,0,0,0,0,0,0,0,0,0
15753,15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,...,0,0,0,0,0,0,0,0,0,0
15754,15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,...,0,0,0,0,0,0,0,0,0,0
15755,15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0
15756,15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0

In [3]:
#Se renombra columna
df = df.rename(columns={'MRD No.': 'ID'})

In [4]:
#Se renombra columna
df = df.rename(columns={'SNO': 'ADMISION'})
df

,ADMISION,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
1,2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,...,0,0,0,0,0,0,0,0,0,0
2,3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
3,4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,...,0,0,0,0,0,0,0,0,0,0
4,5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,...,0,0,0,0,0,0,0,0,0,0
15753,15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,...,0,0,0,0,0,0,0,0,0,0
15754,15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,...,0,0,0,0,0,0,0,0,0,0
15755,15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0
15756,15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0

In [5]:
#Se renombra indice como ID
df.index = df['ADMISION']
df

,ADMISION,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ADMISION,,,,,,,,,,,,,,,,,,,,,
1,1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
2,2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,...,0,0,0,0,0,0,0,0,0,0
3,3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
4,4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,...,0,0,0,0,0,0,0,0,0,0
5,5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15753,15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,...,0,0,0,0,0,0,0,0,0,0
15754,15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,...,0,0,0,0,0,0,0,0,0,0
15755,15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,...,0,0,0,0,0,0,0,0,0,0
15756,15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0
15757,15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0

In [6]:
#Elimino columna duplicada ID
del df[df.columns[0]]

In [7]:
df

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ADMISION,,,,,,,,,,,,,,,,,,,,,
1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,2,...,0,0,0,0,0,0,0,0,0,0
2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,2,...,0,0,0,0,0,0,0,0,0,0
3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,3,...,0,0,0,0,0,0,0,0,0,0
4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,6,...,0,0,0,0,0,0,0,0,0,0
5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,9,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,1,...,0,0,0,0,0,0,0,0,0,0
15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,2,...,0,0,0,0,0,0,0,0,0,0
15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,5,...,0,0,0,0,0,0,0,0,0,0
15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,2,...,0,0,0,0,0,0,0,0,0,0
15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,2,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15757 entries, 1 to 15757
Data columns (total 55 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               15757 non-null  object
 1   D.O.A                            15757 non-null  object
 2   D.O.D                            15757 non-null  object
 3   AGE                              15757 non-null  int64
 4   GENDER                           15757 non-null  object
 5   RURAL                            15757 non-null  object
 6   TYPE OF ADMISSION-EMERGENCY/OPD  15757 non-null  object
 7   month year                       15757 non-null  object
 8   DURATION OF STAY                 15757 non-null  int64
 9   duration of intensive unit stay  15757 non-null  int64
 10  OUTCOME                          15757 non-null  object
 11  SMOKING                          15757 non-null  int64
 12  ALCOHOL                          15757 non-null  int64
 13  DM                               15757 non-null  int64
 14  HTN                              15757 non-null  int64
 15  CAD                              15757 non-null  int64
 16  PRIOR CMP                        15757 non-null  int64
 17  CKD                              15757 non-null  int64
 18  HB                               15505 non-null  object
 19  TLC                              15471 non-null  object
 20  PLATELETS                        15472 non-null  object
 21  GLUCOSE                          14894 non-null  object
 22  UREA                             15516 non-null  object
 23  CREATININE                       15510 non-null  object
 24  BNP                              7316 non-null   object
 25  RAISED CARDIAC ENZYMES           15757 non-null  int64
 26  EF                               14252 non-null  object
 27  SEVERE ANAEMIA                   15757 non-null  int64
 28  ANAEMIA                          15757 non-null  int64
 29  STABLE ANGINA                    15757 non-null  int64
 30  ACS                              15757 non-null  int64
 31  STEMI                            15757 non-null  int64
 32  ATYPICAL CHEST PAIN              15757 non-null  int64
 33  HEART FAILURE                    15757 non-null  int64
 34  HFREF                            15757 non-null  int64
 35  HFNEF                            15757 non-null  int64
 36  VALVULAR                         15757 non-null  int64
 37  CHB                              15757 non-null  int64
 38  SSS                              15757 non-null  int64
 39  AKI                              15757 non-null  int64
 40  CVA INFRACT                      15757 non-null  int64
 41  CVA BLEED                        15757 non-null  int64
 42  AF                               15757 non-null  int64
 43  VT                               15757 non-null  int64
 44  PSVT                             15757 non-null  int64
 45  CONGENITAL                       15757 non-null  int64
 46  UTI                              15757 non-null  int64
 47  NEURO CARDIOGENIC SYNCOPE        15757 non-null  int64
 48  ORTHOSTATIC                      15757 non-null  int64
 49  INFECTIVE ENDOCARDITIS           15757 non-null  int64
 50  DVT                              15757 non-null  int64
 51  CARDIOGENIC SHOCK                15757 non-null  int64
 52  SHOCK                            15757 non-null  int64
 53  PULMONARY EMBOLISM               15757 non-null  int64
 54  CHEST INFECTION                  15757 non-null  object
dtypes: int64(38), object(17)
memory usage: 6.7+ MB

In [9]:
#Mostrando un listado de todas las columnas
list(df.columns)

['ID',
 'D.O.A',
 'D.O.D',
 'AGE',
 'GENDER',
 'RURAL',
 'TYPE OF ADMISSION-EMERGENCY/OPD',
 'month year',
 'DURATION OF STAY',
 'duration of intensive unit stay',
 'OUTCOME',
 'SMOKING ',
 'ALCOHOL',
 'DM',
 'HTN',
 'CAD',
 'PRIOR CMP',
 'CKD',
 'HB',
 'TLC',
 'PLATELETS',
 'GLUCOSE',
 'UREA',
 'CREATININE',
 'BNP',
 'RAISED CARDIAC ENZYMES',
 'EF',
 'SEVERE ANAEMIA',
 'ANAEMIA',
 'STABLE ANGINA',
 'ACS',
 'STEMI',
 'ATYPICAL CHEST PAIN',
 'HEART FAILURE',
 'HFREF',
 'HFNEF',
 'VALVULAR',
 'CHB',
 'SSS',
 'AKI',
 'CVA INFRACT',
 'CVA BLEED',
 'AF',
 'VT',
 'PSVT',
 'CONGENITAL',
 'UTI',
 'NEURO CARDIOGENIC SYNCOPE',
 'ORTHOSTATIC',
 'INFECTIVE ENDOCARDITIS',
 'DVT',
 'CARDIOGENIC SHOCK',
 'SHOCK',
 'PULMONARY EMBOLISM',
 'CHEST INFECTION']

In [10]:
#Sumar la cantidad de nulos 
df.isnull().sum()

ID                                    0
D.O.A                                 0
D.O.D                                 0
AGE                                   0
GENDER                                0
RURAL                                 0
TYPE OF ADMISSION-EMERGENCY/OPD       0
month year                            0
DURATION OF STAY                      0
duration of intensive unit stay       0
OUTCOME                               0
SMOKING                               0
ALCOHOL                               0
DM                                    0
HTN                                   0
CAD                                   0
PRIOR CMP                             0
CKD                                   0
HB                                  252
TLC                                 286
PLATELETS                           285
GLUCOSE                             863
UREA                                241
CREATININE                          247
BNP                                8441
RAISED CARDIAC ENZYMES                0
EF                                 1505
SEVERE ANAEMIA                        0
ANAEMIA                               0
STABLE ANGINA                         0
ACS                                   0
STEMI                                 0
ATYPICAL CHEST PAIN                   0
HEART FAILURE                         0
HFREF                                 0
HFNEF                                 0
VALVULAR                              0
CHB                                   0
SSS                                   0
AKI                                   0
CVA INFRACT                           0
CVA BLEED                             0
AF                                    0
VT                                    0
PSVT                                  0
CONGENITAL                            0
UTI                                   0
NEURO CARDIOGENIC SYNCOPE             0
ORTHOSTATIC                           0
INFECTIVE ENDOCARDITIS                0
DVT                                   0
CARDIOGENIC SHOCK                     0
SHOCK                                 0
PULMONARY EMBOLISM                    0
CHEST INFECTION                       0
dtype: int64

In [45]:
df.sort_index
df['Nro de Ingresos'] = df.groupby('ID').cumcount() + 1

In [47]:
df.sort_values(by='ID')
df[df['Nro de Ingresos']>=2]

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION,Nro de Ingresos
ADMISION,,,,,,,,,,,,,,,,,,,,,
17,413903,01/04/2017,03/04/2017,54,M,U,O,Apr-17,3,1,...,0,0,0,0,0,0,0,0,0,2
91,382159,4/4/2017,4/9/2017,47,F,U,E,Apr-17,6,1,...,0,0,0,0,0,0,0,0,0,2
96,48098,4/5/2017,4/10/2017,65,F,R,O,Apr-17,6,4,...,0,0,0,0,0,1,1,0,0,2
131,384232,08/04/2017,12/04/2017,80,F,U,E,Apr-17,5,5,...,0,0,0,0,0,0,0,0,0,2
148,203622,10/04/2017,17/04/2017,58,F,U,O,Apr-17,8,0,...,1,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15744,699413,30/03/2019,02/04/2019,75,F,U,E,Mar-19,4,3,...,0,0,0,0,0,0,0,0,0,2
15746,699480,30/03/2019,03/04/2019,60,F,U,E,Mar-19,5,4,...,0,0,0,0,0,0,0,0,0,2
15749,273016,30/03/2019,31/03/2019,74,F,U,E,Mar-19,2,2,...,0,0,0,0,0,0,0,0,0,15
15752,469963,31/03/2019,08/04/2019,60,F,U,E,Mar-19,9,9,...,0,0,0,0,0,0,0,0,0,2
15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,2,...,0,0,0,0,0,0,0,0,0,2

In [48]:
import numpy as np

In [49]:
df['Reingreso'] = np.where(df['Nro de Ingresos'] > 1, 'Si', 'No')
df

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION,Nro de Ingresos,Reingreso
ADMISION,,,,,,,,,,,,,,,,,,,,,
1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,2,...,0,0,0,0,0,0,0,0,1,No
2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,2,...,0,0,0,0,0,0,0,0,1,No
3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,3,...,0,0,0,0,0,0,0,0,1,No
4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,6,...,0,0,0,0,0,0,0,0,1,No
5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,9,...,0,0,0,0,0,0,0,0,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,1,...,0,0,0,0,0,0,0,0,1,No
15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,2,...,0,0,0,0,0,0,0,0,1,No
15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,5,...,0,0,0,0,0,0,0,0,1,No
15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,2,...,0,0,0,0,0,0,0,0,1,No
15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,2,...,0,0,0,0,0,0,0,0,2,Si

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15757 entries, 1 to 15757
Data columns (total 57 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               15757 non-null  object
 1   D.O.A                            15757 non-null  object
 2   D.O.D                            15757 non-null  object
 3   AGE                              15757 non-null  int64
 4   GENDER                           15757 non-null  object
 5   RURAL                            15757 non-null  object
 6   TYPE OF ADMISSION-EMERGENCY/OPD  15757 non-null  object
 7   month year                       15757 non-null  object
 8   DURATION OF STAY                 15757 non-null  int64
 9   duration of intensive unit stay  15757 non-null  int64
 10  OUTCOME                          15757 non-null  object
 11  SMOKING                          15757 non-null  int64
 12  ALCOHOL                          15757 non-null  int64
 13  DM                               15757 non-null  int64
 14  HTN                              15757 non-null  int64
 15  CAD                              15757 non-null  int64
 16  PRIOR CMP                        15757 non-null  int64
 17  CKD                              15757 non-null  int64
 18  HB                               15505 non-null  object
 19  TLC                              15471 non-null  object
 20  PLATELETS                        15472 non-null  object
 21  GLUCOSE                          14894 non-null  object
 22  UREA                             15516 non-null  object
 23  CREATININE                       15510 non-null  object
 24  BNP                              7316 non-null   object
 25  RAISED CARDIAC ENZYMES           15757 non-null  int64
 26  EF                               14252 non-null  object
 27  SEVERE ANAEMIA                   15757 non-null  int64
 28  ANAEMIA                          15757 non-null  int64
 29  STABLE ANGINA                    15757 non-null  int64
 30  ACS                              15757 non-null  int64
 31  STEMI                            15757 non-null  int64
 32  ATYPICAL CHEST PAIN              15757 non-null  int64
 33  HEART FAILURE                    15757 non-null  int64
 34  HFREF                            15757 non-null  int64
 35  HFNEF                            15757 non-null  int64
 36  VALVULAR                         15757 non-null  int64
 37  CHB                              15757 non-null  int64
 38  SSS                              15757 non-null  int64
 39  AKI                              15757 non-null  int64
 40  CVA INFRACT                      15757 non-null  int64
 41  CVA BLEED                        15757 non-null  int64
 42  AF                               15757 non-null  int64
 43  VT                               15757 non-null  int64
 44  PSVT                             15757 non-null  int64
 45  CONGENITAL                       15757 non-null  int64
 46  UTI                              15757 non-null  int64
 47  NEURO CARDIOGENIC SYNCOPE        15757 non-null  int64
 48  ORTHOSTATIC                      15757 non-null  int64
 49  INFECTIVE ENDOCARDITIS           15757 non-null  int64
 50  DVT                              15757 non-null  int64
 51  CARDIOGENIC SHOCK                15757 non-null  int64
 52  SHOCK                            15757 non-null  int64
 53  PULMONARY EMBOLISM               15757 non-null  int64
 54  CHEST INFECTION                  15757 non-null  object
 55  Nro de Ingresos                  15757 non-null  int64
 56  Reingreso                        15757 non-null  object
dtypes: int64(39), object(18)
memory usage: 7.0+ MB