In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/workspaces/c23-14-data/data/raw/HDHI Admission data.csv')
df

,SNO,MRD No.,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
1,2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,...,0,0,0,0,0,0,0,0,0,0
2,3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
3,4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,...,0,0,0,0,0,0,0,0,0,0
4,5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,...,0,0,0,0,0,0,0,0,0,0
15753,15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,...,0,0,0,0,0,0,0,0,0,0
15754,15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,...,0,0,0,0,0,0,0,0,0,0
15755,15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0
15756,15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15757 entries, 0 to 15756
Data columns (total 56 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   SNO                              15757 non-null  int64
 1   MRD No.                          15757 non-null  object
 2   D.O.A                            15757 non-null  object
 3   D.O.D                            15757 non-null  object
 4   AGE                              15757 non-null  int64
 5   GENDER                           15757 non-null  object
 6   RURAL                            15757 non-null  object
 7   TYPE OF ADMISSION-EMERGENCY/OPD  15757 non-null  object
 8   month year                       15757 non-null  object
 9   DURATION OF STAY                 15757 non-null  int64
 10  duration of intensive unit stay  15757 non-null  int64
 11  OUTCOME                          15757 non-null  object
 12  SMOKING                          15757 non-null  int64
 13  ALCOHOL                          15757 non-null  int64
 14  DM                               15757 non-null  int64
 15  HTN                              15757 non-null  int64
 16  CAD                              15757 non-null  int64
 17  PRIOR CMP                        15757 non-null  int64
 18  CKD                              15757 non-null  int64
 19  HB                               15505 non-null  object
 20  TLC                              15471 non-null  object
 21  PLATELETS                        15472 non-null  object
 22  GLUCOSE                          14894 non-null  object
 23  UREA                             15516 non-null  object
 24  CREATININE                       15510 non-null  object
 25  BNP                              7316 non-null   object
 26  RAISED CARDIAC ENZYMES           15757 non-null  int64
 27  EF                               14252 non-null  object
 28  SEVERE ANAEMIA                   15757 non-null  int64
 29  ANAEMIA                          15757 non-null  int64
 30  STABLE ANGINA                    15757 non-null  int64
 31  ACS                              15757 non-null  int64
 32  STEMI                            15757 non-null  int64
 33  ATYPICAL CHEST PAIN              15757 non-null  int64
 34  HEART FAILURE                    15757 non-null  int64
 35  HFREF                            15757 non-null  int64
 36  HFNEF                            15757 non-null  int64
 37  VALVULAR                         15757 non-null  int64
 38  CHB                              15757 non-null  int64
 39  SSS                              15757 non-null  int64
 40  AKI                              15757 non-null  int64
 41  CVA INFRACT                      15757 non-null  int64
 42  CVA BLEED                        15757 non-null  int64
 43  AF                               15757 non-null  int64
 44  VT                               15757 non-null  int64
 45  PSVT                             15757 non-null  int64
 46  CONGENITAL                       15757 non-null  int64
 47  UTI                              15757 non-null  int64
 48  NEURO CARDIOGENIC SYNCOPE        15757 non-null  int64
 49  ORTHOSTATIC                      15757 non-null  int64
 50  INFECTIVE ENDOCARDITIS           15757 non-null  int64
 51  DVT                              15757 non-null  int64
 52  CARDIOGENIC SHOCK                15757 non-null  int64
 53  SHOCK                            15757 non-null  int64
 54  PULMONARY EMBOLISM               15757 non-null  int64
 55  CHEST INFECTION                  15757 non-null  object
dtypes: int64(39), object(17)
memory usage: 6.7+ MB