CONJUNTO DE DATOS

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/workspaces/Proyecto_nocountry/data/raw/HDHI Admission data.csv')
df

,SNO,MRD No.,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
1,2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,...,0,0,0,0,0,0,0,0,0,0
2,3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
3,4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,...,0,0,0,0,0,0,0,0,0,0
4,5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,...,0,0,0,0,0,0,0,0,0,0
15753,15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,...,0,0,0,0,0,0,0,0,0,0
15754,15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,...,0,0,0,0,0,0,0,0,0,0
15755,15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0
15756,15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0

In [4]:
#Se renombra columna
df = df.rename(columns={'MRD No.': 'ID'})

In [5]:
#Se renombra columna
df = df.rename(columns={'SNO': 'ADMISION'})
df

,ADMISION,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
1,2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,...,0,0,0,0,0,0,0,0,0,0
2,3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
3,4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,...,0,0,0,0,0,0,0,0,0,0
4,5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,...,0,0,0,0,0,0,0,0,0,0
15753,15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,...,0,0,0,0,0,0,0,0,0,0
15754,15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,...,0,0,0,0,0,0,0,0,0,0
15755,15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0
15756,15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0

In [6]:
#Se renombra indice como ID
df.index = df['ADMISION']
df

,ADMISION,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ADMISION,,,,,,,,,,,,,,,,,,,,,
1,1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
2,2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,...,0,0,0,0,0,0,0,0,0,0
3,3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
4,4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,...,0,0,0,0,0,0,0,0,0,0
5,5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15753,15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,...,0,0,0,0,0,0,0,0,0,0
15754,15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,...,0,0,0,0,0,0,0,0,0,0
15755,15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,...,0,0,0,0,0,0,0,0,0,0
15756,15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0
15757,15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0

In [7]:
#Elimino columna duplicada ID
del df[df.columns[0]]

In [8]:
df

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ADMISION,,,,,,,,,,,,,,,,,,,,,
1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,2,...,0,0,0,0,0,0,0,0,0,0
2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,2,...,0,0,0,0,0,0,0,0,0,0
3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,3,...,0,0,0,0,0,0,0,0,0,0
4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,6,...,0,0,0,0,0,0,0,0,0,0
5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,9,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,1,...,0,0,0,0,0,0,0,0,0,0
15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,2,...,0,0,0,0,0,0,0,0,0,0
15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,5,...,0,0,0,0,0,0,0,0,0,0
15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,2,...,0,0,0,0,0,0,0,0,0,0
15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,2,...,0,0,0,0,0,0,0,0,0,0

EXPLORACIÃ“N Y LIMPIEZA DE DATOS

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15757 entries, 1 to 15757
Data columns (total 55 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               15757 non-null  object
 1   D.O.A                            15757 non-null  object
 2   D.O.D                            15757 non-null  object
 3   AGE                              15757 non-null  int64
 4   GENDER                           15757 non-null  object
 5   RURAL                            15757 non-null  object
 6   TYPE OF ADMISSION-EMERGENCY/OPD  15757 non-null  object
 7   month year                       15757 non-null  object
 8   DURATION OF STAY                 15757 non-null  int64
 9   duration of intensive unit stay  15757 non-null  int64
 10  OUTCOME                          15757 non-null  object
 11  SMOKING                          15757 non-null  int64
 12  ALCOHOL                          15757 non-null  int64
 13  DM                               15757 non-null  int64
 14  HTN                              15757 non-null  int64
 15  CAD                              15757 non-null  int64
 16  PRIOR CMP                        15757 non-null  int64
 17  CKD                              15757 non-null  int64
 18  HB                               15505 non-null  object
 19  TLC                              15471 non-null  object
 20  PLATELETS                        15472 non-null  object
 21  GLUCOSE                          14894 non-null  object
 22  UREA                             15516 non-null  object
 23  CREATININE                       15510 non-null  object
 24  BNP                              7316 non-null   object
 25  RAISED CARDIAC ENZYMES           15757 non-null  int64
 26  EF                               14252 non-null  object
 27  SEVERE ANAEMIA                   15757 non-null  int64
 28  ANAEMIA                          15757 non-null  int64
 29  STABLE ANGINA                    15757 non-null  int64
 30  ACS                              15757 non-null  int64
 31  STEMI                            15757 non-null  int64
 32  ATYPICAL CHEST PAIN              15757 non-null  int64
 33  HEART FAILURE                    15757 non-null  int64
 34  HFREF                            15757 non-null  int64
 35  HFNEF                            15757 non-null  int64
 36  VALVULAR                         15757 non-null  int64
 37  CHB                              15757 non-null  int64
 38  SSS                              15757 non-null  int64
 39  AKI                              15757 non-null  int64
 40  CVA INFRACT                      15757 non-null  int64
 41  CVA BLEED                        15757 non-null  int64
 42  AF                               15757 non-null  int64
 43  VT                               15757 non-null  int64
 44  PSVT                             15757 non-null  int64
 45  CONGENITAL                       15757 non-null  int64
 46  UTI                              15757 non-null  int64
 47  NEURO CARDIOGENIC SYNCOPE        15757 non-null  int64
 48  ORTHOSTATIC                      15757 non-null  int64
 49  INFECTIVE ENDOCARDITIS           15757 non-null  int64
 50  DVT                              15757 non-null  int64
 51  CARDIOGENIC SHOCK                15757 non-null  int64
 52  SHOCK                            15757 non-null  int64
 53  PULMONARY EMBOLISM               15757 non-null  int64
 54  CHEST INFECTION                  15757 non-null  object
dtypes: int64(38), object(17)
memory usage: 6.7+ MB

In [10]:
#Mostrando un listado de todas las columnas
list(df.columns)

['ID',
 'D.O.A',
 'D.O.D',
 'AGE',
 'GENDER',
 'RURAL',
 'TYPE OF ADMISSION-EMERGENCY/OPD',
 'month year',
 'DURATION OF STAY',
 'duration of intensive unit stay',
 'OUTCOME',
 'SMOKING ',
 'ALCOHOL',
 'DM',
 'HTN',
 'CAD',
 'PRIOR CMP',
 'CKD',
 'HB',
 'TLC',
 'PLATELETS',
 'GLUCOSE',
 'UREA',
 'CREATININE',
 'BNP',
 'RAISED CARDIAC ENZYMES',
 'EF',
 'SEVERE ANAEMIA',
 'ANAEMIA',
 'STABLE ANGINA',
 'ACS',
 'STEMI',
 'ATYPICAL CHEST PAIN',
 'HEART FAILURE',
 'HFREF',
 'HFNEF',
 'VALVULAR',
 'CHB',
 'SSS',
 'AKI',
 'CVA INFRACT',
 'CVA BLEED',
 'AF',
 'VT',
 'PSVT',
 'CONGENITAL',
 'UTI',
 'NEURO CARDIOGENIC SYNCOPE',
 'ORTHOSTATIC',
 'INFECTIVE ENDOCARDITIS',
 'DVT',
 'CARDIOGENIC SHOCK',
 'SHOCK',
 'PULMONARY EMBOLISM',
 'CHEST INFECTION']

In [11]:
#Sumar la cantidad de nulos
df.isnull().sum()[df.isnull().sum()>0]

HB             252
TLC            286
PLATELETS      285
GLUCOSE        863
UREA           241
CREATININE     247
BNP           8441
EF            1505
dtype: int64

In [12]:
#Buscar cuantos ID hay repetidos
df[df.duplicated('ID')]

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ADMISION,,,,,,,,,,,,,,,,,,,,,
17,413903,01/04/2017,03/04/2017,54,M,U,O,Apr-17,3,1,...,0,0,0,0,0,0,0,0,0,0
91,382159,4/4/2017,4/9/2017,47,F,U,E,Apr-17,6,1,...,0,0,0,0,0,0,0,0,0,0
96,48098,4/5/2017,4/10/2017,65,F,R,O,Apr-17,6,4,...,0,0,0,0,0,0,1,1,0,0
131,384232,08/04/2017,12/04/2017,80,F,U,E,Apr-17,5,5,...,0,0,0,0,0,0,0,0,0,0
148,203622,10/04/2017,17/04/2017,58,F,U,O,Apr-17,8,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15744,699413,30/03/2019,02/04/2019,75,F,U,E,Mar-19,4,3,...,0,0,0,0,0,0,0,0,0,0
15746,699480,30/03/2019,03/04/2019,60,F,U,E,Mar-19,5,4,...,0,0,0,0,0,0,0,0,0,0
15749,273016,30/03/2019,31/03/2019,74,F,U,E,Mar-19,2,2,...,0,0,0,0,0,0,0,0,0,0
15752,469963,31/03/2019,08/04/2019,60,F,U,E,Mar-19,9,9,...,0,0,0,0,0,0,0,0,0,0
15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,2,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df[df['ID'] =='95092']

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ADMISION,,,,,,,,,,,,,,,,,,,,,
14631,95092,15/02/2019,20/02/2019,77,M,U,E,Feb-19,6,5,...,0,0,0,0,0,0,0,0,0,0
14632,95092,15/02/2019,20/02/2019,77,M,U,E,Feb-19,6,5,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df[df['ID'] == '699524']

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ADMISION,,,,,,,,,,,,,,,,,,,,,
15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,2,...,0,0,0,0,0,0,0,0,0,0
15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,2,...,0,0,0,0,0,0,0,0,0,0

In [15]:
#Buscando duplicados en columnas de ID y DOA
duplicados = df[df.duplicated(subset=['ID', 'D.O.A'], keep=False)]
duplicados

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ADMISION,,,,,,,,,,,,,,,,,,,,,
303,250680,4/24/2017,4/27/2017,85,F,R,E,Apr-17,4,3,...,0,0,0,0,0,0,0,0,0,0
321,250680,4/24/2017,4/27/2017,85,F,U,E,Apr-17,4,0,...,0,0,0,0,0,0,0,0,0,0
380,235427,4/26/2017,4/28/2017,56,M,R,O,Apr-17,3,1,...,0,0,0,0,0,0,0,0,0,0
383,235427,4/26/2017,4/28/2017,56,M,U,O,Apr-17,3,0,...,0,0,0,0,0,0,0,0,0,0
452,253963,4/29/2017,5/2/2017,65,M,R,E,Apr-17,4,3,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15744,699413,30/03/2019,02/04/2019,75,F,U,E,Mar-19,4,3,...,0,0,0,0,0,0,0,0,0,0
15745,699480,30/03/2019,03/04/2019,60,F,U,E,Mar-19,5,4,...,0,0,0,0,0,0,0,0,0,0
15746,699480,30/03/2019,03/04/2019,60,F,U,E,Mar-19,5,4,...,0,0,0,0,0,0,0,0,0,0
15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,2,...,0,0,0,0,0,0,0,0,0,0
15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,2,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df[df['ID']== '699413']

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ADMISION,,,,,,,,,,,,,,,,,,,,,
15743,699413,30/03/2019,02/04/2019,75,F,U,E,Mar-19,4,3,...,0,0,0,0,0,0,0,0,0,0
15744,699413,30/03/2019,02/04/2019,75,F,U,E,Mar-19,4,3,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df[df['ID']== '253963']

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ADMISION,,,,,,,,,,,,,,,,,,,,,
452,253963,4/29/2017,5/2/2017,65,M,R,E,Apr-17,4,3,...,0,0,0,0,0,0,0,0,0,0
462,253963,4/29/2017,5/2/2017,65,M,U,E,Apr-17,4,2,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df[df['ID'] == '235427']

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ADMISION,,,,,,,,,,,,,,,,,,,,,
380,235427,4/26/2017,4/28/2017,56,M,R,O,Apr-17,3,1,...,0,0,0,0,0,0,0,0,0,0
383,235427,4/26/2017,4/28/2017,56,M,U,O,Apr-17,3,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df[df['ID'] == '250680']

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ADMISION,,,,,,,,,,,,,,,,,,,,,
303,250680,4/24/2017,4/27/2017,85,F,R,E,Apr-17,4,3,...,0,0,0,0,0,0,0,0,0,0
321,250680,4/24/2017,4/27/2017,85,F,U,E,Apr-17,4,0,...,0,0,0,0,0,0,0,0,0,0
6345,250680,01/02/2018,04/02/2018,85,F,R,E,Feb-18,4,1,...,0,0,0,0,0,0,0,0,0,1

In [20]:
# Eliminar filas duplicadas basÃ¡ndose en las columnas 'ID' y 'D.O.A'
df_sin_duplicados = df.drop_duplicates(subset=['ID', 'D.O.A'], keep='first')

In [21]:
#Nuevo dataframe
df_sin_duplicados

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ADMISION,,,,,,,,,,,,,,,,,,,,,
1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,2,...,0,0,0,0,0,0,0,0,0,0
2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,2,...,0,0,0,0,0,0,0,0,0,0
3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,3,...,0,0,0,0,0,0,0,0,0,0
4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,6,...,0,0,0,0,0,0,0,0,0,0
5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,9,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,469963,31/03/2019,08/04/2019,60,F,U,E,Mar-19,9,9,...,0,0,0,0,0,0,0,0,0,0
15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,1,...,0,0,0,0,0,0,0,0,0,0
15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,2,...,0,0,0,0,0,0,0,0,0,0
15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,5,...,0,0,0,0,0,0,0,0,0,0
15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,2,...,0,0,0,0,0,0,0,0,0,0

In [22]:
#Verificando si eliminÃ³ duplicados
df_sin_duplicados[df_sin_duplicados['ID'] == '250680']

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ADMISION,,,,,,,,,,,,,,,,,,,,,
303,250680,4/24/2017,4/27/2017,85,F,R,E,Apr-17,4,3,...,0,0,0,0,0,0,0,0,0,0
6345,250680,01/02/2018,04/02/2018,85,F,R,E,Feb-18,4,1,...,0,0,0,0,0,0,0,0,0,1

In [23]:
df_sin_duplicados[df['ID'] == '235427']

/tmp/ipykernel_21434/4073659580.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_sin_duplicados[df['ID'] == '235427']

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ADMISION,,,,,,,,,,,,,,,,,,,,,
380,235427,4/26/2017,4/28/2017,56,M,R,O,Apr-17,3,1,...,0,0,0,0,0,0,0,0,0,0

In [24]:
#Renombrando dataframe a df1
df1 = df_sin_duplicados.copy()

In [25]:
df1

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ADMISION,,,,,,,,,,,,,,,,,,,,,
1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,2,...,0,0,0,0,0,0,0,0,0,0
2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,2,...,0,0,0,0,0,0,0,0,0,0
3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,3,...,0,0,0,0,0,0,0,0,0,0
4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,6,...,0,0,0,0,0,0,0,0,0,0
5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,9,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,469963,31/03/2019,08/04/2019,60,F,U,E,Mar-19,9,9,...,0,0,0,0,0,0,0,0,0,0
15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,1,...,0,0,0,0,0,0,0,0,0,0
15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,2,...,0,0,0,0,0,0,0,0,0,0
15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,5,...,0,0,0,0,0,0,0,0,0,0
15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,2,...,0,0,0,0,0,0,0,0,0,0

Finalmente eliminando datos de df(15757 filas) que tenÃ­a ID y DOA duplicados en comÃºn, se crea un nuevo data frame, df1 (14572 filas), eliminando exactamente 1185 filas duplicadas.

In [26]:
#Calcular la cantidad de ingreso de una persona
df1.sort_index
df1['Nro de Ingresos'] = df1.groupby('ID').cumcount() + 1

In [27]:
#Revisar las personas que ingresaron mas de una vez
df1.sort_values(by='ID')
df1[df1['Nro de Ingresos']>=2]

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION,Nro de Ingresos
ADMISION,,,,,,,,,,,,,,,,,,,,,
17,413903,01/04/2017,03/04/2017,54,M,U,O,Apr-17,3,1,...,0,0,0,0,0,0,0,0,0,2
91,382159,4/4/2017,4/9/2017,47,F,U,E,Apr-17,6,1,...,0,0,0,0,0,0,0,0,0,2
96,48098,4/5/2017,4/10/2017,65,F,R,O,Apr-17,6,4,...,0,0,0,0,0,1,1,0,0,2
131,384232,08/04/2017,12/04/2017,80,F,U,E,Apr-17,5,5,...,0,0,0,0,0,0,0,0,0,2
148,203622,10/04/2017,17/04/2017,58,F,U,O,Apr-17,8,0,...,1,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15729,666139,29/03/2019,02/04/2019,63,F,U,E,Mar-19,5,3,...,0,0,0,0,0,0,0,0,0,2
15739,453768,30/03/2019,10/04/2019,81,M,U,E,Mar-19,12,6,...,0,0,0,0,0,0,0,0,0,2
15740,469288,3/30/2019,4/9/2019,49,M,U,O,Mar-19,11,3,...,0,0,0,0,0,0,0,0,0,2
15749,273016,30/03/2019,31/03/2019,74,F,U,E,Mar-19,2,2,...,0,0,0,0,0,0,0,0,0,15
15752,469963,31/03/2019,08/04/2019,60,F,U,E,Mar-19,9,9,...,0,0,0,0,0,0,0,0,0,2

In [28]:
import numpy as np

In [29]:
#Se crea columna si ingresÃ³ o no
df1['REINGRESO'] = np.where(df1['Nro de Ingresos'] > 1, 'Si', 'No')
df1

,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION,Nro de Ingresos,REINGRESO
ADMISION,,,,,,,,,,,,,,,,,,,,,
1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,2,...,0,0,0,0,0,0,0,0,1,No
2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,2,...,0,0,0,0,0,0,0,0,1,No
3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,3,...,0,0,0,0,0,0,0,0,1,No
4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,6,...,0,0,0,0,0,0,0,0,1,No
5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,9,...,0,0,0,0,0,0,0,0,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,469963,31/03/2019,08/04/2019,60,F,U,E,Mar-19,9,9,...,0,0,0,0,0,0,0,0,2,Si
15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,1,...,0,0,0,0,0,0,0,0,1,No
15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,2,...,0,0,0,0,0,0,0,0,1,No
15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,5,...,0,0,0,0,0,0,0,0,1,No
15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,2,...,0,0,0,0,0,0,0,0,1,No

ANALISIS DE VARIABLES

In [30]:
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
#Buscar variables categoricas
categoricas = df1.select_dtypes(include=['object']).columns.tolist()
categoricas

['ID',
 'D.O.A',
 'D.O.D',
 'GENDER',
 'RURAL',
 'TYPE OF ADMISSION-EMERGENCY/OPD',
 'month year',
 'OUTCOME',
 'HB',
 'TLC',
 'PLATELETS',
 'GLUCOSE',
 'UREA',
 'CREATININE',
 'BNP',
 'EF',
 'CHEST INFECTION',
 'REINGRESO']

In [32]:
categoricas_seleccionadas = ['GENDER', 'RURAL', 'TYPE OF ADMISSION-EMERGENCY/OPD', 'OUTCOME', 'CHEST INFECTION', 'REINGRESO']

:

In [ ]:
# Configuraciones comunes
figsize = (10, 6)
colors = ['skyblue', 'lightgreen']
font_size_title = 14
font_size_labels = 12

# Graficar directamente
ax = df1.plot(
    kind='bar', 
    figsize=figsize, 
    color=colors, 
    title='DistribuciÃ³n de GÃ©nero y Total de Ingresos por GÃ©nero', 
    legend=True
)

# Personalizar etiquetas
ax.set_xlabel('GÃ©nero', fontsize=font_size_labels)
ax.set_ylabel('Reingreso', fontsize=font_size_labels)

# Personalizar el eje X y el grid
ax.tick_params(axis='x', rotation=0)
ax.grid(axis='y', linestyle='--', alpha=0.7)

# Ajustar diseÃ±o y mostrar
plt.tight_layout()
plt.show()

In [ ]:
# Graficar directamente sin plt.figure
#ax = df1.plot(kind='bar', figsize=(10, 6), color=['skyblue', 'lightgreen'])

# Personalizar el grÃ¡fico
#plt.title('DistribuciÃ³n de GÃ©nero y Total de Ingresos por GÃ©nero', fontsize=14)
#plt.xlabel('GENRER', fontsize=12)
#plt.ylabel('REINGRESO', fontsize=12)
#plt.xticks(rotation=0)
#plt.grid(axis='y', linestyle='--', alpha=0.7)
#plt.legend(title='CategorÃ­a', loc='upper right')

# Ajustar diseÃ±o y mostrar
#plt.tight_layout()
#plt.show()

Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x762c8e2bfdd0>>
Traceback (most recent call last):
  File "/home/codespace/.local/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 775, in _clean_thread_parent_frames
    def _clean_thread_parent_frames(

KeyboardInterrupt:

In [33]:
numericas = df1.select_dtypes(include=['int']).columns.tolist()
numericas

['AGE',
 'DURATION OF STAY',
 'duration of intensive unit stay',
 'SMOKING ',
 'ALCOHOL',
 'DM',
 'HTN',
 'CAD',
 'PRIOR CMP',
 'CKD',
 'RAISED CARDIAC ENZYMES',
 'SEVERE ANAEMIA',
 'ANAEMIA',
 'STABLE ANGINA',
 'ACS',
 'STEMI',
 'ATYPICAL CHEST PAIN',
 'HEART FAILURE',
 'HFREF',
 'HFNEF',
 'VALVULAR',
 'CHB',
 'SSS',
 'AKI',
 'CVA INFRACT',
 'CVA BLEED',
 'AF',
 'VT',
 'PSVT',
 'CONGENITAL',
 'UTI',
 'NEURO CARDIOGENIC SYNCOPE',
 'ORTHOSTATIC',
 'INFECTIVE ENDOCARDITIS',
 'DVT',
 'CARDIOGENIC SHOCK',
 'SHOCK',
 'PULMONARY EMBOLISM',
 'Nro de Ingresos']

In [32]:
df_correlaciones = df1.copy()

In [ ]:
df1.isnull().sum()

ID                                    0
D.O.A                                 0
D.O.D                                 0
AGE                                   0
GENDER                                0
RURAL                                 0
TYPE OF ADMISSION-EMERGENCY/OPD       0
month year                            0
DURATION OF STAY                      0
duration of intensive unit stay       0
OUTCOME                               0
SMOKING                               0
ALCOHOL                               0
DM                                    0
HTN                                   0
CAD                                   0
PRIOR CMP                             0
CKD                                   0
HB                                  245
TLC                                 276
PLATELETS                           277
GLUCOSE                             837
UREA                                236
CREATININE                          241
BNP                                7912
RAISED CARDIAC ENZYMES                0
EF                                 1406
SEVERE ANAEMIA                        0
ANAEMIA                               0
STABLE ANGINA                         0
ACS                                   0
STEMI                                 0
ATYPICAL CHEST PAIN                   0
HEART FAILURE                         0
HFREF                                 0
HFNEF                                 0
VALVULAR                              0
CHB                                   0
SSS                                   0
AKI                                   0
CVA INFRACT                           0
CVA BLEED                             0
AF                                    0
VT                                    0
PSVT                                  0
CONGENITAL                            0
UTI                                   0
NEURO CARDIOGENIC SYNCOPE             0
ORTHOSTATIC                           0
INFECTIVE ENDOCARDITIS                0
DVT                                   0
CARDIOGENIC SHOCK                     0
SHOCK                                 0
PULMONARY EMBOLISM                    0
CHEST INFECTION                       0
dtype: int64