In [66]:
import pandas as pd

In [67]:
df = pd.read_csv('/workspaces/c23-14-data/data/raw/HDHI Admission data.csv')
df

,SNO,MRD No.,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
1,2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,...,0,0,0,0,0,0,0,0,0,0
2,3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
3,4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,...,0,0,0,0,0,0,0,0,0,0
4,5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,...,0,0,0,0,0,0,0,0,0,0
15753,15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,...,0,0,0,0,0,0,0,0,0,0
15754,15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,...,0,0,0,0,0,0,0,0,0,0
15755,15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0
15756,15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0

In [68]:
#Se renombra columna
df = df.rename(columns={'MRD No.': 'ID'})

In [69]:
#Se renombra columna
df = df.rename(columns={'SNO': 'ADMISION'})
df

,ADMISION,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
1,2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,...,0,0,0,0,0,0,0,0,0,0
2,3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
3,4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,...,0,0,0,0,0,0,0,0,0,0
4,5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,...,0,0,0,0,0,0,0,0,0,0
15753,15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,...,0,0,0,0,0,0,0,0,0,0
15754,15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,...,0,0,0,0,0,0,0,0,0,0
15755,15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0
15756,15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0

In [70]:
#Se renombra indice como ID
df.index = df['ID']
df

,ADMISION,ID,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ID,,,,,,,,,,,,,,,,,,,,,
234735,1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
234696,2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,...,0,0,0,0,0,0,0,0,0,0
234882,3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
234635,4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,...,0,0,0,0,0,0,0,0,0,0
234486,5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699585,15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,...,0,0,0,0,0,0,0,0,0,0
699500,15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,...,0,0,0,0,0,0,0,0,0,0
700415,15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,...,0,0,0,0,0,0,0,0,0,0
699524,15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0
699524,15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0

In [71]:
#Elimino columna duplicada ID
del df[df.columns[1]]

In [72]:
df

,ADMISION,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
ID,,,,,,,,,,,,,,,,,,,,,
234735,1,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,2,...,0,0,0,0,0,0,0,0,0,0
234696,2,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,2,...,0,0,0,0,0,0,0,0,0,0
234882,3,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,3,...,0,0,0,0,0,0,0,0,0,0
234635,4,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,6,...,0,0,0,0,0,0,0,0,0,0
234486,5,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,9,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699585,15753,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,1,...,0,0,0,0,0,0,0,0,0,0
699500,15754,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,2,...,0,0,0,0,0,0,0,0,0,0
700415,15755,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,5,...,0,0,0,0,0,0,0,0,0,0
699524,15756,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,2,...,0,0,0,0,0,0,0,0,0,0
699524,15757,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,2,...,0,0,0,0,0,0,0,0,0,0

In [55]:
#
#df[df['admision'] == 10165]

In [73]:
df.shape

(15757, 55)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15757 entries, 234735 to 699524
Data columns (total 55 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ADMISION                         15757 non-null  int64
 1   D.O.A                            15757 non-null  object
 2   D.O.D                            15757 non-null  object
 3   AGE                              15757 non-null  int64
 4   GENDER                           15757 non-null  object
 5   RURAL                            15757 non-null  object
 6   TYPE OF ADMISSION-EMERGENCY/OPD  15757 non-null  object
 7   month year                       15757 non-null  object
 8   DURATION OF STAY                 15757 non-null  int64
 9   duration of intensive unit stay  15757 non-null  int64
 10  OUTCOME                          15757 non-null  object
 11  SMOKING                          15757 non-null  int64
 12  ALCOHOL                          15757 non-null  int64
 13  DM                               15757 non-null  int64
 14  HTN                              15757 non-null  int64
 15  CAD                              15757 non-null  int64
 16  PRIOR CMP                        15757 non-null  int64
 17  CKD                              15757 non-null  int64
 18  HB                               15505 non-null  object
 19  TLC                              15471 non-null  object
 20  PLATELETS                        15472 non-null  object
 21  GLUCOSE                          14894 non-null  object
 22  UREA                             15516 non-null  object
 23  CREATININE                       15510 non-null  object
 24  BNP                              7316 non-null   object
 25  RAISED CARDIAC ENZYMES           15757 non-null  int64
 26  EF                               14252 non-null  object
 27  SEVERE ANAEMIA                   15757 non-null  int64
 28  ANAEMIA                          15757 non-null  int64
 29  STABLE ANGINA                    15757 non-null  int64
 30  ACS                              15757 non-null  int64
 31  STEMI                            15757 non-null  int64
 32  ATYPICAL CHEST PAIN              15757 non-null  int64
 33  HEART FAILURE                    15757 non-null  int64
 34  HFREF                            15757 non-null  int64
 35  HFNEF                            15757 non-null  int64
 36  VALVULAR                         15757 non-null  int64
 37  CHB                              15757 non-null  int64
 38  SSS                              15757 non-null  int64
 39  AKI                              15757 non-null  int64
 40  CVA INFRACT                      15757 non-null  int64
 41  CVA BLEED                        15757 non-null  int64
 42  AF                               15757 non-null  int64
 43  VT                               15757 non-null  int64
 44  PSVT                             15757 non-null  int64
 45  CONGENITAL                       15757 non-null  int64
 46  UTI                              15757 non-null  int64
 47  NEURO CARDIOGENIC SYNCOPE        15757 non-null  int64
 48  ORTHOSTATIC                      15757 non-null  int64
 49  INFECTIVE ENDOCARDITIS           15757 non-null  int64
 50  DVT                              15757 non-null  int64
 51  CARDIOGENIC SHOCK                15757 non-null  int64
 52  SHOCK                            15757 non-null  int64
 53  PULMONARY EMBOLISM               15757 non-null  int64
 54  CHEST INFECTION                  15757 non-null  object
dtypes: int64(39), object(16)
memory usage: 6.7+ MB

In [75]:
df.describe()

,ADMISION,AGE,DURATION OF STAY,duration of intensive unit stay,SMOKING,ALCOHOL,DM,HTN,CAD,PRIOR CMP,...,PSVT,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM
count,15757.000000,15757.000000,15757.000000,15757.00000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,...,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000
mean,7879.000000,61.426160,6.415054,3.80377,0.050327,0.064797,0.323475,0.485879,0.669607,0.154471,...,0.007552,0.010472,0.061877,0.008377,0.007870,0.001840,0.013264,0.059910,0.046646,0.015358
std,4548.798431,13.420862,5.011421,4.01564,0.218625,0.246174,0.467817,0.499816,0.470369,0.361411,...,0.086577,0.101797,0.240940,0.091146,0.088363,0.042862,0.114406,0.237327,0.210886,0.122977
min,1.000000,4.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3940.000000,54.000000,3.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7879.000000,62.000000,5.000000,3.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,11818.000000,70.000000,8.000000,5.00000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,15757.000000,110.000000,98.000000,58.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [76]:
#Verificamos filas repetidos o df.duplicated().sum()
(df[df.duplicated(keep = False)])

Empty DataFrame
Columns: [ADMISION, D.O.A, D.O.D, AGE, GENDER, RURAL, TYPE OF ADMISSION-EMERGENCY/OPD, month year, DURATION OF STAY, duration of intensive unit stay, OUTCOME, SMOKING , ALCOHOL, DM, HTN, CAD, PRIOR CMP, CKD, HB, TLC, PLATELETS, GLUCOSE, UREA, CREATININE, BNP, RAISED CARDIAC ENZYMES, EF, SEVERE ANAEMIA, ANAEMIA, STABLE ANGINA, ACS, STEMI, ATYPICAL CHEST PAIN, HEART FAILURE, HFREF, HFNEF, VALVULAR, CHB, SSS, AKI, CVA INFRACT, CVA BLEED, AF, VT, PSVT, CONGENITAL, UTI, NEURO CARDIOGENIC SYNCOPE, ORTHOSTATIC, INFECTIVE ENDOCARDITIS, DVT, CARDIOGENIC SHOCK, SHOCK, PULMONARY EMBOLISM, CHEST INFECTION]
Index: []

[0 rows x 55 columns]

In [78]:
#Buscar valores nulos
df.isnull().any()

ADMISION                           False
D.O.A                              False
D.O.D                              False
AGE                                False
GENDER                             False
RURAL                              False
TYPE OF ADMISSION-EMERGENCY/OPD    False
month year                         False
DURATION OF STAY                   False
duration of intensive unit stay    False
OUTCOME                            False
SMOKING                            False
ALCOHOL                            False
DM                                 False
HTN                                False
CAD                                False
PRIOR CMP                          False
CKD                                False
HB                                  True
TLC                                 True
PLATELETS                           True
GLUCOSE                             True
UREA                                True
CREATININE                          True
BNP                                 True
RAISED CARDIAC ENZYMES             False
EF                                  True
SEVERE ANAEMIA                     False
ANAEMIA                            False
STABLE ANGINA                      False
ACS                                False
STEMI                              False
ATYPICAL CHEST PAIN                False
HEART FAILURE                      False
HFREF                              False
HFNEF                              False
VALVULAR                           False
CHB                                False
SSS                                False
AKI                                False
CVA INFRACT                        False
CVA BLEED                          False
AF                                 False
VT                                 False
PSVT                               False
CONGENITAL                         False
UTI                                False
NEURO CARDIOGENIC SYNCOPE          False
ORTHOSTATIC                        False
INFECTIVE ENDOCARDITIS             False
DVT                                False
CARDIOGENIC SHOCK                  False
SHOCK                              False
PULMONARY EMBOLISM                 False
CHEST INFECTION                    False
dtype: bool